.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/bg.png");
    background-size: cover;
    background-position: center;
}
.transaction{
    width: 100%;
    height: 100vh;
    background-color: grey;
    background-size: cover;
    background-position: center;
}
.logo{
    width: 200px;
    height: auto
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar button{
    list-style: none;
    color: #fff;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: "Andale Mono",serif;
    font-weight: bold;
    font-size: 18px;
    background: transparent;
    border: none;
}
/*.navbar button a{*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    font-family: "Andale Mono",serif;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/
.navbar button::after{
    content: '';
    height: 3px;
    width: 0;
    background: cornflowerblue;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar button:hover::after{
    width: 100%;
}
.slogan{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: "Andale Mono",serif;
}
.slogan h1{
    font-size: 70px;
    margin-top: 80px;
    font-weight: bolder;
}
.slogan p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.user_info{
    width: 100%;
    position: absolute;
    top: 60%;
    text-align: center;
    transform: translateY(-50%);
    text-decoration: none;
    color: #fff;
    font-family: "Andale Mono",serif;
}
.user_info h1{
    font-size: 70px;
    font-weight: bolder;
}

.user_info input{
    font-family: "Andale Mono",serif;
    color:#fff;
    background-color: transparent;
    padding-left: 8px;
    border-radius: 8px;
    border-style: groove;
    border-color: white;
}
.user_info button{
    font-family: "Andale Mono",serif;
    color: white;
    padding: 15px 25px;
    background-color: #4269e2;
    border-radius: 15px;
    border: none;
}

.fs-1 {
    font-size: calc(1rem + 0.3vw) !important;
}
.fs-2 {
    font-size: calc(0.5rem + 0.3vw) !important;
}
.mb-1 {
    margin-bottom: 1rem !important;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
    color:#fff;
}
.estate{
    position: absolute;
    margin-top: 800px;

}
.trading{
    text-align: center;
    color: #fff;
    font-family: "Andale Mono",serif;
    font-size: 18px;

}
.trading p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.photos {
	display: flex;
	flex-wrap: wrap;
    position: center;
    margin-top: 800px;
    margin-left: 225px;
    color: #000;
    font-family: "Andale Mono",serif;
    text-align: center;

}
.photos p{
    color: #000;
}
.photo {
	margin: 10px;
    text-align: center;
}

.photo img {
	width: 300px;
	height: 300px;
}
.owner{
	font-weight: bold;
}
.trading img{
    width: 300px;
	height: 300px;
}